#form{
    padding: 10px;
}

label {
    margin: 10px;
}

button {
    margin: 10px;
}

.linha {
    margin-top: 5px;
}

input {
    margin-left: 5px;
}

textarea{
    max-width: 300px;
    max-height: 50px;
    margin-left: 5px;
}

@media print {
    #form {
        display: none;
    }
}

@media screen and (max-width: 600px){
    #form {
        display: flex;
        flex-direction: column;

    }

    .linha {
        display: flex;
        flex-direction: column;
    }

    label {
        display: flex;
        flex-direction: column;   
    }
}