#principal {
  min-width: 1034px;
  max-width: 1034px;
  border-collapse: collapse;
}

.linha {
  background-image: url(./Rifa.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 192px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.numero {
  color: white;
  width: 33px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.n1 {
  transform: rotate(-90deg);
}

.n2 {
  transform: rotate(90deg);
}

.conteudo {
  flex: 1;
  border-left: 1px black dashed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.valor {
  color: #ae4e54;
}